<div class="container">
  <!-- <div class="row" style="margin-left: 0px; margin-right: 0px;"> -->
  <div>
    <h1 class="text-center">{{ pageTitle }}</h1>

    <app-loading *ngIf="loading"></app-loading>

    <ng-template [ngIf]="utils.isLoaded(loading)">
      <div *ngIf="request" class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="[]"
                [queryParams]="{ tab: 'edit' }"
                [ngClass]="{ active: utils.tabIs(tab, 'edit') }"
                >Edit</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="[]"
                [queryParams]="{ tab: 'delete' }"
                [ngClass]="{ active: utils.tabIs(tab, 'delete') }"
                >Delete</a
              >
            </li>
          </ul>
        </div>

        <div class="card-body" style="padding: 10px;">
          <!-- Edit request form -->
          <app-request-form
            *ngIf="utils.tabIs(tab, 'edit')"
            [request]="request"
          ></app-request-form>

          <!-- Delete request -->
          <app-delete-request
            *ngIf="utils.tabIs(tab, 'delete')"
            [request]="request"
          ></app-delete-request>
        </div>
      </div>

      <!-- Error loading request -->
      <p *ngIf="error" class="alert alert-danger">
        <strong>Error:</strong> request data could not be retrieved. View
        <a routerLink="/admin/requests" class="alert-link">Admin requests</a>.
      </p>
    </ng-template>
  </div>
</div>
