/*-- Header and title --*/

.header-page {
  color: #fff;
  height: 50px;
  margin-bottom: 0px;
  position: relative;

  &-siteTitle {
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 60px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  a {
    color: #fff;
    text-decoration: none;
  }

  &-authStatus {
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;

    a:hover {
      text-decoration: underline;
    }
    .divider {
      display: inline-block;
      opacity: 0.5;
      padding: 0 4px;
    }
  }
}

.hide-before-animated {
  visibility: hidden;
}
.hide-before-animated.animated {
  visibility: visible;
}

@media (max-width: 341px) {
  .calendar {
    font-size: 12px;
  }
}

@media (max-width: 341px) {
  .navbar-brand {
    font-size: 12px;
  }
}