<!-- Start Header Area -->
<header class="default-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a
        class="navbar-brand"
        href="index.html"
        onClick="window.location.reload()"
      >
        <!-- <img src="assets/img/logo.png" alt=""> -->
        All About Hair
      </a>

      <a
        class="navbar-brand calendar"
        style="color: #fff;"
        href="/calendar"
        routerLink="/calendar"
      >
        Calendar
      </a>

      <!--
      <div class="header-page-authStatus">
        <span *ngIf="auth.loggingIn">Logging in...</span>
        <ng-template [ngIf]="!auth.loggingIn">
          <a *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a>
          <span *ngIf="auth.loggedIn && auth.userProfile">
            {{ auth.userProfile.name }}
            <span class="divider">|</span>
            <a (click)="auth.logout()">Log Out</a>
          </span>
        </ng-template>s
      </div>
      -->

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNav()"
      >
        <span class="text-white lnr lnr-menu"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end align-items-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <span *ngIf="auth.loggingIn">Logging in...</span>
            <ng-template [ngIf]="!auth.loggingIn">
              <a id="loggedInAnchor"
                *ngIf="!auth.loggedIn"
                (click)="auth.login()"
                style="color: #fff;"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
                >Log In</a
              >
              <span
                id="loggedInSpan"
                *ngIf="auth.loggedIn && auth.userProfile"
                style="color: #fff;"
              >
                {{ auth.userProfile.name }} <span class="divider">|</span>
                <a
                  (click)="auth.logout()"
                  style="color: #fff;"
                  data-toggle="collapse"
                  data-target=".navbar-collapse.show"
                  >Log Out</a
                >
              </span>
            </ng-template>
          </li>
          <!--
          <li class="nav-item active">
            <a href="#home" data-toggle="collapse" data-target=".navbar-collapse.show">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a href="#service" data-toggle="collapse" data-target=".navbar-collapse.show">Services
            </a>
          </li>
          <li class="nav-item active">
            <a href="#team" data-toggle="collapse" data-target=".navbar-collapse.show">Team
            </a>
          </li>
          <li class="nav-item active">
            <a href="#price" data-toggle="collapse" data-target=".navbar-collapse.show">Prices
            </a>
          </li>
          <li class="nav-item active">
            <a href="#contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact
            </a>
          </li>
          -->

          <li
            *ngIf="
              !auth.loggedIn && !auth.isAdmin && router.url !== '/calendar' && !router.url.includes('/consumer-services')
            "
            class="nav-item active"
          >
            <a
              href="#home"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Home <span class="sr-only">(current)</span>
            </a>
          </li>

          <li *ngIf="auth.loggedIn && auth.isAdmin" class="nav-item active">
            <a href="/admin/homepage" routerLink="/admin/homepage" data-target=".navbar-collapse.show"
              >Home
            </a>
          </li>

          <li
            *ngIf="
              !auth.loggedIn && !auth.isAdmin && router.url !== '/calendar' && !router.url.includes('/consumer-services')
            "
            class="nav-item active"
          >
            <a
              href="#service"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Services
            </a>
          </li>

          <li *ngIf="auth.loggedIn && auth.isAdmin && !router.url.includes('/consumer-services')" class="nav-item active">
            <a href="/admin/services" routerLink="/admin/services" data-target=".navbar-collapse.show"
              >Services
            </a>
          </li>

          <li
            *ngIf="
              !auth.loggedIn && !auth.isAdmin && router.url !== '/calendar' && !router.url.includes('/consumer-services')
            "
            class="nav-item active"
          >
            <a
              href="#gallery"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Gallery
            </a>
          </li>

          <li *ngIf="auth.loggedIn && auth.isAdmin && !router.url.includes('/consumer-services')" class="nav-item active">
            <a href="/admin/gallery" routerLink="/admin/gallery" data-target=".navbar-collapse.show"
              >Gallery
            </a>
          </li>

          <li
            *ngIf="
              !auth.loggedIn && !auth.isAdmin && router.url !== '/calendar' && !router.url.includes('/consumer-services')
            "
            class="nav-item active"
          >
            <a
              href="#team"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Team
            </a>
          </li>

          <li *ngIf="auth.loggedIn && auth.isAdmin && !router.url.includes('/consumer-services')" class="nav-item active">
            <a href="/admin/personel" routerLink="/admin/personel" data-target=".navbar-collapse.show"
              >Team
            </a>
          </li>

          <li
            *ngIf="
              !auth.loggedIn && !auth.isAdmin && router.url !== '/calendar' && !router.url.includes('/consumer-services')
            "
            class="nav-item active"
          >
            <a
              href="#price"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Prices
            </a>
          </li>

          <!--
          <li *ngIf="auth.loggedIn && auth.isAdmin" class="nav-item active">
            <a href="/admin/prices" data-target=".navbar-collapse.show">Prices
            </a>
          </li>
          -->

          <li
            *ngIf="
              !auth.loggedIn && !auth.isAdmin && router.url !== '/calendar' && !router.url.includes('/consumer-services')
            "
            class="nav-item active"
          >
            <a
              href="#contact"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Contact
            </a>
          </li>

          <li *ngIf="auth.loggedIn && auth.isAdmin && !router.url.includes('/consumer-services')" class="nav-item active">
            <a href="/admin/contact" routerLink="/admin/contact" data-target=".navbar-collapse.show"
              >Contact
            </a>
          </li>

          <li *ngIf="auth.loggedIn && auth.isAdmin && !router.url.includes('/consumer-services')" class="nav-item active">
            <a href="/admin/requests" routerLink="/admin/requests" data-target=".navbar-collapse.show"
              >Requests
            </a>
          </li>

          <!-- Dropdown -->
          <!--
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Pages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="generic.html" data-toggle="collapse" data-target=".navbar-collapse.show">Generic</a>
              <a class="dropdown-item" href="elements.html" data-toggle="collapse" data-target=".navbar-collapse.show">Elements</a>
            </div>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End Header Area -->

<!--
<div class="alert alert-info alert-position hide-before-animated" data-alert-animate="bounceIn" width="90%">
  <div class="card">
    <div class="card-header">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        <a href="#" class="close minimize" data-minimize="alert" aria-label="minimize">_</a>
        <a href="#" class="close expand hidden-xs-up" data-expand="alert" aria-label="expand">+</a>

        <strong><i class="fa fa-exclamation"></i> Special Offer</strong>
    </div>
    <div class="card-body">
      <div class="card-text">
          Wanna get $10 off your next service?
          <br>
          <ul class="list-group">
            <li class="list-group-item">
                Take a selfie in front of our selfie wall with #AllAboutHair
                & tag @allabouthair on your Instagram & Facebook!
            </li>
            <li class="list-group-item">
                At the end of your service, show our front desk
                your much appreciated post & Voila!
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
-->
