<!-- Start price Area -->
<section class="price-area section-gap" id="price">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-10 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">
            {{ homepage && homepage.serviceDetailsHeadline }}
          </h1>
          <p>{{ homepage && homepage.serviceDetailsSubMsg }}</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-columns">
        <div *ngFor="let product of services" class="card">
          <div class="card-header">{{ product.title }}</div>
          <div class="card-text" style="padding: 10px;">
            {{ product.description }}
          </div>
          <div class="card-body">
            <ul *ngFor="let feature of product.pricing">
              <li>
                <strong style="font-weight: bold;">{{ feature.type }}</strong>
                ... {{ feature.price }}
              </li>
            </ul>
            <button
              class="btn btn-primary"
              style="border-radius: 15px; margin-top: 3px;"
            >
              More... <span class="lnr lnr-arrow-right"></span>
            </button>
          </div>
        </div>
        <!-- 
        <div *ngFor="let product of productList" class="card">
          <div class="card-header">{{ product.title }}</div>
          <div class="card-text" style="padding: 10px;">
            {{ product.subtxt }}
          </div>
          <div class="card-body">
            <ul *ngFor="let feature of product.features">
              <li>{{ feature }}</li>
            </ul>
            <button class="btn-primary" style="margin-top: 3px;">More Details
              <span class="lnr lnr-arrow-right"></span>
            </button>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</section>
<!-- End price Area -->
