.navbar-myphoto {
	.nav-pills {
		>li {
			>a {
				&:hover {
					background-color: #504747;
					color: yellow;
				}
				&:focus {
					background-color: #504747;
					color: yellow;
				}
			}
		}
		>li.active {
			>a {
				background-color: #504747;
				color: yellow;
			}
		}
	}
	.dropdown-menu {
		>a {
			&:hover {
				color: yellow;
				background-color: #504747;
			}
			&:focus {
				color: yellow;
				background-color: #504747;
			}
		}
		>.active {
			>a {
				&:focus {
					color: yellow;
					background-color: #504747;
				}
			}
		}
	}
}
