@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

.phone-only {
    @include for-phone-only {
        height: 75px !important;
        width: 75px !important;
    }
}

.services-title {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}