.container {
    position: relative;
    width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  //position:absolute;
  //top: 50%;
  //bottom: 50%;
}

.overlay {
  //height: 100%;
  //width: 100%;
  opacity: 0;
  transition: .5s ease;
  //background-color: #008CBA;
  //background-color: transparent;
  //background: no-repeat center center;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-25px;
  margin-left:-25px;
}

.container:hover .overlay {
  opacity: 1;
}

/*
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/*
.phone-up {
  background: purple;
}
*/

.phone-only {
  @include for-phone-only { 
    text-align: center; 
  }
}

.tablet-portait-only {
  @include for-tablet-portait-only { background: purple; }
}

.tablet-portrait-up {
  @include for-tablet-portrait-up { background: red; }
}

.tablet-landscape-only {
  @include for-tablet-landscape-only { background: lightblue; }
}

.tablet-landscape-up {
  @include for-tablet-landscape-up { background: lightcoral; }
}

.desktop-only {
  @include for-desktop-only { background: lightsteelblue; }
}

.desktop-up {
  @include for-desktop-up { background: lightgreen; }
}

.big-desktop-up {
  @include for-big-desktop-up { background: green; }
}