<!-- Start about Area -->
<section class="about-area">
  <div class="container-fluid">

      <!-- <div class="row no-padding justify-content-center d-flex align-items-center"> -->
      <div class="row">  
        
        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="text-align: center; width: 48%; margin: 1%;"> -->
        <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
            <h1>
              We Believe that Interior beautifies the Total Architecture
            </h1>
            <p style="text-align: justify; margin: 10px;">{{ aboutMsg }}</p>
            <!--
            <button class="primary-btn mt-20 text-uppercase">See Details
              <span class="lnr lnr-arrow-right"></span>
            </button>
            -->
        </div>
        

        <!-- <div class="col-lg-6 about-right no-padding"> -->
        <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
          <!-- <img src="img_avatar.png" alt="Avatar" class="image"> -->
          <img class="image" src="assets/img/about-img.jpg" alt="">
          <div class="overlay">
            <!-- <div class="text">Hello World</div> -->
            <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn">
              <img class="play" src="assets/img/play.png" alt="">
            </a>
          </div>
        </div>


      </div>


    <!--
    <div class="row no-padding justify-content-center d-flex align-items-center">
      <div class="col-lg-6 about-left">
        <h1>
          We Believe that
          <br> Interior beautifies the
          <br> Total Architecture
        </h1>
        <p class="mt-30">
          
          inappropriate behavior is often laughed off as “boys will be boys,”
          <br> women face higher conduct standards especially in the workplace.
          <br> That’s why it’s crucial that, as women, our behavior on the job is beyond
          <br> reproach. inappropriate behavior is often laughed off as “boys will
          <br> be boys,” women face higher conduct standards especially in the
          <br> workplace. That’s why it’s crucial that.
          
        </p>
        <button class="primary-btn mt-20 text-uppercase">See Details
          <span class="lnr lnr-arrow-right"></span>
        </button>
      </div>
      <div class="col-lg-6 about-right no-padding">
        <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn">
          <img class="play" src="assets/img/play.png" alt="">
        </a>
        <img class="main img-fluid" src="assets/img/about-img.jpg" alt="">
      </div>
    </div>
    -->
  </div>
</section>
<!-- End about Area -->