<div class="container">
  <div>
    <h1 class="text-center calendar-title">{{ pageTitle }}</h1>

    <app-loading *ngIf="loading"></app-loading>

    <div class="responsiveCal">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=j4okpbp2lcn3fdaph05gll6sto%40group.calendar.google.com&ctz=America%2FLos_Angeles"
        style="border: 0"
        width="800"
        height="600"
        frameborder="0"
        scrolling="yes"
      ></iframe>
    </div>

    <app-appointments-new
      *ngIf="!auth.loggedIn && !auth.isAdmin"
    ></app-appointments-new>
    <app-appointments *ngIf="auth.loggedIn && auth.isAdmin"></app-appointments>
  </div>
</div>
