<div class="card-body" style="padding: 10px;">
  <h2 class="card-title text-center mb-0">Photo Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Photo Caption:</strong>{{ photo.caption }}
  </li>

  <li class="list-group-item">
    <strong>Photo Image:</strong>{{ photo.path }}
  </li>

  <li class="list-group-item" style="margin: auto auto;">
    <img [src]="photo.path" />
  </li>
</ul>

<!--
<div class="card-body" *ngIf="service.description" style="padding: 10px;">
  <p class="card-text lead" [innerHTML]="service.description"></p>
</div>
-->
<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a [routerLink]="['/admin/gallery/update', photo._id]">Edit</a>
</div>