<div class="card-body" style="padding: 10px;">
  <h2 class="card-title text-center mb-0">Request Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>User Name:</strong> {{ request.name }}
  </li>

  <li class="list-group-item">
    <strong>User Email:</strong> {{ request.email }}
  </li>

  <li class="list-group-item">
    <strong>Category:</strong> {{ request.category }}
  </li>

  <li class="list-group-item">
    <strong>Message:</strong> {{ request.message }}
  </li>
  <!--
  <li class="list-group-item">
    <strong>Date:</strong> {{ request.date }}
  </li>
  -->
</ul>

<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a [routerLink]="['/admin/requests/update', request._id]">Edit</a>
</div>