

.blog-entry {
    background: #fff;
  }
  @media (min-width: 768px) {
    .blog-entry {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767.98px) {
    .blog-entry {
      margin-bottom: 30px;
    }
  }
  .blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
  }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .blog-entry .text .heading a {
    color: #404044;
  }
  .blog-entry .text .heading a:hover,
  .blog-entry .text .heading a:focus,
  .blog-entry .text .heading a:active {
    color: #ffb400;
  }
  .blog-entry .text .meta-chat {
    color: #a5a5ab;
  }
  .blog-entry .text .read {
    color: #404044;
    font-size: 14px;
  }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .blog-entry .meta > div a {
    color: #a5a5ab;
    font-size: 15px;
  }
  .blog-entry .meta > div a:hover {
    color: white;
  }
  