

.custom-pagination {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .custom-pagination li {
    display: inline-block;
  }
  .custom-pagination .prev a,
  .custom-pagination .next a {
    font-size: 20px !important;
    line-height: 38px !important;
  }
  .custom-pagination li a,
  .custom-pagination .prev a,
  .custom-pagination .next a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50% !important;
    font-size: 16px;
  }
  .custom-pagination li.active a,
  .custom-pagination .prev.active a,
  .custom-pagination .next.active a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50% !important;
    font-size: 16px;
    background: #ffb400;
    color: #fff;
  }
  .custom-pagination li.active a:hover,
  .custom-pagination li.active a:focus,
  .custom-pagination .prev.active a:hover,
  .custom-pagination .prev.active a:focus,
  .custom-pagination .next.active a:hover,
  .custom-pagination .next.active a:focus {
    color: #fff;
  }
  .custom-pagination .prev {
    float: left;
  }
  .custom-pagination .next {
    float: right;
  }