

.ftco-footer {
    font-size: 16px;
    background: #27272b;
    padding: 8em 0;
  }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .ftco-footer .ftco-footer-widget ul li a span {
    color: #fff;
  }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.5);
  }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.5);
  }
  .ftco-footer a:hover {
    color: #fff;
  }
  .ftco-footer .ftco-heading {
    font-size: 24px;
  }
  .ftco-footer .ftco-heading-2 {
    font-size: 18px;
    font-weight: bold;
    color: #404044;
  }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
  }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
  }
  .ftco-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .ftco-footer-social li a:hover {
    color: #fff;
  }
  
  .footer-small-nav > li {
    display: inline-block;
  }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0;
  }
  .footer-small-nav > li a:hover,
  .footer-small-nav > li a:focus {
    color: #ffb400;
  }