

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #404044 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .form-control:focus,
  .form-control:active {
    border-color: #404044;
  }
  
  textarea.form-control {
    height: inherit !important;
  }
  