

.ftco-counter {
    margin-top: -100px;
  }
  @media (max-width: 767.98px) {
    .ftco-counter {
      margin-top: -120px;
    }
  }
  .ftco-counter .container {
    z-index: 2;
    position: relative;
    background: #fff !important;
    padding: 30px;
  }
  @media (min-width: 768px) {
    .ftco-counter .container {
      padding: 70px;
      padding-top: 40px;
    }
  }
  .ftco-counter .text strong.number {
    font-weight: 400;
    font-size: 34px;
  }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px;
    }
  }
  .ftco-counter .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #ffb400;
  }
  .ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  