

.media-custom {
    background: #fff;
  }
  .media-custom .media-body .name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    color: #ffb400;
  }
  .media-custom .media-body .position {
    font-size: 13px;
    color: white;
  }


  

.media .ftco-icon {
    width: 100px;
  }
  .media .ftco-icon span {
    color: #ffb400;
  }
  
  .ftco-media {
    background: #fff;
    border-radius: 0px;
  }
  .ftco-media .heading {
    font-weight: normal;
  }
  .ftco-media.ftco-media-shadow {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    position: relative;
    top: 0;
  }
  .ftco-media.ftco-media-shadow:hover,
  .ftco-media.ftco-media-shadow:focus {
    top: -3px;
    -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
  }
  .ftco-media .icon {
    font-size: 50px;
    display: block;
    color: #ffb400;
  }
  .ftco-media.text-center .ftco-icon {
    margin: 0 auto;
  }