
.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 10px;
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #404044 !important;
      top: 0;
      position: relative;
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f0f0f0;
    opacity: 1 !important;
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
      padding-left: 0;
      margin-left: 0;
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
      display: none;
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    padding-left: 0;
    color: #fff;
  }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
    border-color: #ffb400;
  }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: rgba(255, 255, 255, 0.5);
  }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #404044 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .ftco-navbar-light.scrolled .nav-item.active > a {
    color: #ffb400 !important;
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
      background: none;
      border-radius: 0px;
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }
  }
  @media (max-width: 767.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
      background: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #fff !important;
  }
  .ftco-navbar-light.scrolled .nav-link.active {
    color: #ffb400 !important;
  }
  .ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
  }
  .ftco-navbar-light.scrolled.sleep {
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
  }
  .ftco-navbar-light.scrolled .navbar-brand {
    color: #fff;
  }
  
  .navbar-brand {
    font-weight: 600;
    /* border: 2px solid #fff; */
    border: none;
    line-height: 1;
    padding: 5px 10px;
  }