

.parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 10em 0 !important;
  }
  @media (max-width: 767.98px) {
    .parallax-img {
      padding: 5em 0 !important;
      background-position: bottom center !important;
    }
  }
  .parallax-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #404044;
    opacity: 0.4;
  }
  