<!-- start banner Area -->
<section class="banner-area " id="home">
  <!-- Start Header Area -->
  
  <!-- <app-header></app-header> -->

  <!-- End Header Area -->
  <div class="container-fluid">
    <div class="row justify-content-end align-items-center">
      <!-- <div class="col-lg-6 col-md-6 col-sm-12 banner-left"> -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="text-white phone-only">
          {{ homepage && homepage.headline }}
        </h1>
        <p class="mx-auto text-white mt-20 mb-40 phone-only">
          {{ homepage && homepage.headlineSubMsg }}
        </p>
        <!--
        <a href="#price" class="text-uppercase header-btn">View More Changes
        </a>
        -->
      </div>
      <!-- <div class="col-lg-6 col-md-6 no-padding banner-right"> -->
      <div class="col-lg-6 col-md-6 col-sm-12 phone-only">
        <img class="img-fluid" src="assets/img/header-img.png" alt="">
        <!-- <img src="assets/img/big_image_1.jpg" alt="" class="img-fluid"> -->
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->