<section class="banner-area" id="home">
  <div class="container-fluid">
    <div class="row justify-content-end align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="text-white phone-only">
          {{ homepage && homepage.headline }}
        </h1>

        <p class="mx-auto text-white mt-20 mb-40 phone-only">
          {{ homepage && homepage.headlineSubMsg }}
        </p>

        <div class="phone-only" style="margin: auto auto;">
          <a
            id="bannerBtn"
            href="#price"
            class="text-uppercase header-btn"
            (click)="sendEvent()"
            >View Custom Services
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 phone-only">
        <img
          class="img-fluid"
          src="../../../assets/images/header-img.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
