/*
// UNUSED
.banner-area2 {
  background-image: url("../../../assets/images/guilherme-petri-602659-unsplash.jpg") !important;
  background-size: 100%;

  background-repeat: no-repeat;
}
// UNUSED
.banner-area2::after {
  opacity: 0.9;
}
// UNUSED
.banner-text {
  color: #006699;
}
*/
 /*background-color:rgba(0, 0, 0, 0.5); */

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

/*
.phone-up {
    background: purple;
}
*/

.phone-only {
  @include for-phone-only {
    text-align: center;
  }
}

.tablet-portait-only {
  @include for-tablet-portait-only {
    background: purple;
  }
}

.tablet-portrait-up {
  @include for-tablet-portrait-up {
    background: red;
  }
}

.tablet-landscape-only {
  @include for-tablet-landscape-only {
    background: lightblue;
  }
}

.tablet-landscape-up {
  @include for-tablet-landscape-up {
    background: lightcoral;
  }
}

.desktop-only {
  @include for-desktop-only {
    background: lightsteelblue;
  }
}

.desktop-up {
  @include for-desktop-up {
    background: lightgreen;
  }
}

.big-desktop-up {
  @include for-big-desktop-up {
    background: green;
  }
}

.outer-div {
  //max-width: 100%;
  height: 500px; // 500px
  overflow: hidden;
  transform: scale(1.1); // 1.2
}
.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url("../../../assets/images/header-img.webp");
}
.inner-div:hover {
  transform: scale(0.9); // 1.2
}

/*
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #4a2667;
  }
*/

svg.intro {
  background: linear-gradient(135deg, #aa3bb1, #582a7e);
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 50px -20px rgb(46, 6, 66);

  .text {
    display: none;
  }
  &.go {
    .text {
      font-family: Arial, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      display: block;
    }
    .text-stroke {
      fill: none;
      stroke: #51256f;
      stroke-width: 2.8px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 2.5s ease-in-out forwards;
    }
    .text-stroke:nth-child(2) {
      animation-delay: 0.3s;
    }
    .text-stroke:nth-child(3) {
      animation-delay: 0.9s;
    }
    .text-stroke-2 {
      stroke: #f6bdfa;
      animation-delay: 1.2s;
    }
    .text-stroke:nth-child(5) {
      animation-delay: 1.5s;
    }
    .text-stroke:nth-child(6) {
      animation-delay: 1.8s;
    }
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.reload {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  border: none;
  border-radius: 20px;
  outline: none !important;
  font-size: 11px;
  line-height: 1.5;
  padding: 8px 12px;
  text-transform: uppercase;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 6px 7px #350e4c;
  transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  &:hover {
    box-shadow: 0 4px 4px #350e4c;
    transform: translateY(1px);
  }
  &:active {
    box-shadow: 0 1px 2px #244b94;
    transform: translateY(2px);
  }
  svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}
