<!-- Start about Area -->
<section class="about-area mt-30">
  <div class="container-fluid">
    <div class="row">
      <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 class="phone-only">
          {{ homepage && homepage.aboutHeadline }}
        </h1>
        <p style="text-align: justify; margin: 10px;">
          {{ homepage && homepage.aboutSubMsg }}
        </p>
      </div>

      <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
        <img
          *ngIf="homepage"
          class="image"
          [src]="homepage.aboutImage"
          alt=""
          style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
        />

        <div class="overlay" style="margin-left: -20px;">
          <a *ngIf="homepage" [href]="homepage.aboutVideoLink" class="play-btn">
            <img
              class="play"
              src="assets/images/play.png"
              alt=""
              style="margin-left: -20px;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about Area -->
