

/* Blog*/
.post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
  }
  .post-info > div {
    display: inline-block;
  }
  .post-info > div .seperator {
    display: inline-block;
    margin: 0 10px;
    opacity: 0.5;
  }
  
  .tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #404044;
    border: 1px solid #ccc;
    font-size: 11px;
  }
  .tagcloud a:hover {
    border: 1px solid #000;
  }
  
  .comment-form-wrap {
    clear: both;
  }
  
  .comment-list {
    padding: 0;
    margin: 0;
  }
  .comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
  }
  .comment-list li .vcard {
    width: 80px;
    float: left;
  }
  .comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
  }
  .comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
  }
  .comment-list li .comment-body h3 {
    font-size: 20px;
  }
  .comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #ccc;
  }
  .comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: white;
    color: #404044;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    font-weight: 400;
    border-radius: 4px;
  }
  .comment-list li .comment-body .reply:hover {
    color: #fff;
    background: #404044;
  }
  
  .search-form {
    background: white;
    padding: 10px;
  }
  .search-form .form-group {
    position: relative;
  }
  .search-form .form-group input {
    padding-right: 50px;
  }
  .search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .subscribe-form .form-group input {
    padding-right: 50px;
    background: transparent !important;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5) !important;
  }
  
  .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
  }
  .sidebar-box *:last-child {
    margin-bottom: 0;
  }
  .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .categories li,
  .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
  }
  .categories li:last-child,
  .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  .categories li a,
  .sidelink li a {
    display: block;
  }
  .categories li a span,
  .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
  }
  .categories li.active a,
  .sidelink li.active a {
    color: #404044;
    font-style: italic;
  }