<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="swiper-container">
      <div class="swiper-wrapper">

 
        <div class="swiper-slide">
          <div class="row d-flex justify-content-center">
            <div class="column">
              <div class="card">
                <img
                  class="swipe_photo"
                  src="./assets/images/haircut_utensils.png"
                  alt="Jane"
                />
                <div class="container">
                  <h2 class="service_title">Haircut & Styling</h2>
                  <p class="title">
                    Custom cuts use same pricing scale. Enjoy a relaxing head, neck & shoulder massage, shampoo & style</p>
                  <p class="prices">
                      Women's... $40-$70<br/>
                      Men's ... $30-$60<br/>
                      Children (under 12) ... $25-$55<br/>
                      Neck Trim ... $15<br/>
                      Bang Trim ... $10<br/>
                      Wash & Style ... $25-$55<br/>
                  </p>
                  <p><button class="btn btn-secondary">More...</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img
                  class="swipe_photo"
                  src="./assets/images/0a0379_b6fbd6ecaffa46e680ff41416db033c3_mv2.png"
                  alt="Jane"
                />
                <div class="container">
                  <h2 class="service_title">Special Occasions & Treatments</h2>
                  <p class="title">A repair treatment or a revitalizing moisture treatment will leave your hair healthy, shiny & improved by up to 86%.</p>
                  <p class="prices">
                      Treatment Added (shampoo & blow-dry included) ... $30<br/>
                      Glossing Shine ... $55<br/>
                      Thermal Style ... $40-$60<br/>
                      Updo ... $45-$75<br/>
                      Wedding Trial & Updo ... $130+<br/>
                  </p>
                  <p><button class="btn btn-secondary">More...</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img
                  class="swipe_photo"
                  src="./assets/images/d0f0592c76c84027ad47e349f2c54304.png"
                  alt="Jane"
                />
                <div class="container">
                  <h2 class="service_title">Hair Extensions</h2>
                  <p class="title">
                      VoMor Hair Extensions not only add length, but also add volume & fullness. VoMor Extensions are made of high quality Remy hair, collected & manufactured in a humane manner, packaged according to environmental guidelines, and are tape-in & reusable. VoMor Extensions are safe & do not damage the hair.
                  </p>
                  <p class="prices">
                      Fashion Colors (2 ext) ... $90<br/>
                      6-8 Week Maintenance ... $83-$415<br/>
                  </p>
                  <p><button class="btn btn-secondary">More...</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row d-flex justify-content-center">
            <div class="column">
              <div class="card">
                <img
                  class="swipe_photo"
                  src="./assets/images/red_hair.png"
                  alt="Jane"
                />
                <div class="container">
                  <h2 class="service_title">Hair Coloring</h2>
                  <p class="title">
                      AVEDA Full Spectrum Color immerses hair in 97% naturally derived formulas for our Permanent Color & 99% naturally derived formulas for our Deposit-Only Demi-Permanent Color. (A Gloss/Toner is included in all Foil, Double Process, All Over Bleach, Balayage & Ombre services. A Gloss/Toner can be added to a Root Touch Up, if appropriate, for an additional price.)
                  </p>
                  <p class="prices">
                      Consultation ... free<br/>
                      Full Foil ... $135+<br/>
                      Partial Foil ... $115+<br/>
                      Balayage or Ombre ... $140+<br/>
                      Express Foil (~10 foils) ... $55+<br/>
                      <!--
                      Root Color & Foil ... $140+<br/>
                      All Over Color & Foil ... $160+<br/>
                      All Over Lightening (bleach) ... $105+<br/>
                      Bleach Retouch ... $90<br/>
                      All Over Color ... $85+<br/>
                      Root Touch Up ... $65<br/>
                      -->
                      Each Additional Bowl of Color ... $20<br/>
                  </p>
                  <p><button class="btn btn-secondary">More...</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img
                  class="swipe_photo"
                  src="./assets/images/eyelash.png"
                  alt="Jane"
                />
                <div class="container">
                  <h2 class="service_title">Lash Extensions</h2>
                  <p class="title">
                      Xtreme Lashes Eyelash Extensions are your ultimate answer for longer, thicker, more beautiful looking eyelashes.
                  </p>
                  <p class="prices">
                      Full Set ... $200<br/>
                      Lash Fill ... $60-$95<br/>
                      Lash Removal ... $30-$50<br/>
                  </p>
                  <p><button class="btn btn-secondary">More...</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img
                  class="swipe_photo"
                  src="./assets/images/290cf180b80a49759532aea6aeac8855.png"
                  alt="Jane"
                />
                <div class="container">
                  <h2 class="service_title">Smoothing Service</h2>
                  <p class="title">
                      VoMor Hair Extensions not only add length, but also add volume & fullness. VoMor Extensions are made of high quality Remy hair, collected & manufactured in a humane manner, packaged according to environmental guidelines, and are tape-in & reusable. VoMor Extensions are safe & do not damage the hair.
                  </p>
                  <p class="prices">
                      Short Hair to Medium Length ... $95-$125<br/>
                      Long Hair (below collar bone) ... $125-$150<br/>
                  </p>
                  <p><button class="btn btn-secondary">More...</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="swiper-slide">
            <div class="row d-flex justify-content-center">
              <div class="column">
                <div class="card">
                  <img
                    class="swipe_photo"
                    src="./assets/images/waxing2.png"
                    alt="Jane"
                  />
                  <div class="container">
                    <h2 class="service_title">Waxing</h2>
                    <p class="title">
                        At least 3 weeks of growth is recommend for a waxing service. You may be asked to reschedule if the hair length is insufficient in order to effectively perform the service.
                    </p>
                    <p class="prices">
                        Brow Shaping ... $20<br/>
                        Lip ... $10<br/>
                        Chin ... $10<br/>
                        Face (forehead, cheeks, chin) ... $30<br/>
                        Nose ... $10<br/>
                        Underarm ... $30<br/>
                        1/2 Arm ... $30<br/>
                        Full Arm ... $40<br/>
                        1/2 Leg ... $40<br/>
                        Full Leg ... $60<br/>
                    </p>
                    <p><button class="btn btn-secondary">More...</button></p>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>
  </div>
</div>

<!--
   If we need pagination
  <div class="swiper-pagination"></div>

   If we need navigation buttons
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

   If we need scrollbar
  <div class="swiper-scrollbar"></div>
-->
