.img,
.chef-img,
.insta-img,
.menu-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}




.instagram {
    /* padding-top: 7em; */
    padding-top: 4em;
  }
  .instagram .insta-img {
    display: block;
    height: 280px;
    position: relative;
  }
  .instagram .insta-img .icon {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: rgba(64, 64, 68, 0.7);
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .instagram .insta-img .icon span {
    color: #fff;
    font-size: 40px;
  }
  .instagram .insta-img:hover .icon {
    opacity: 1;
  }
  .instagram .heading-section h2 {
    font-size: 20px;
    text-transform: uppercase;
  }
  .instagram .heading-section h2 span {
    border: 2px solid #404044;
    padding: 5px 15px;
  }




.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
