<!-- This fake div hidden preloads our web font! -->

<div class="div-fake-hidden"><i class="fa fa-square-o fa-3x"></i></div>
<div class="div-fake-hidden"><i class="lnr-arrow-down"></i></div>

<div class="layout-overflow">
  <div
    class="layout-canvas"
    [ngClass]="{ 'nav-open': navOpen, 'nav-closed': !navOpen }"
    [style.min-height]="minHeight"
  >
    <!-- HEADER -->
    <app-header (navToggled)="navToggledHandler($event)"></app-header>

    <!-- CONTENT -->
    <div id="layout-view" class="layout-view">
      <router-outlet></router-outlet>
    </div>

    <!-- FOOTER -->
    <app-footer></app-footer>
  </div>
</div>
