
<app-banner></app-banner>
<app-three-col-section1></app-three-col-section1>
<app-about></app-about>
<app-team-public></app-team-public>


<app-services-slider></app-services-slider>


<app-gallery-section></app-gallery-section>
<app-contact></app-contact>


<!-- UNUSED
<app-services-public></app-services-public>
<app-gallery-public></app-gallery-public>
<app-feature></app-feature>
<div class="section-gap"></div>
<app-services-section></app-services-section>
<app-price></app-price>
<app-service-carousel></app-service-carousel>
-->
