.consumer-service-header {
    text-align: center;
    padding: 10px;
}

.consumer-service-table {
    padding: 10px;
}

.go-home-button {
    padding: 10px;
}

.custom-thead-background {
    background: #dddddd;
}