<section
  id="price"
  class="ftco-section parallax-img"
  style="background-image: url('../../assets/images/haircut-834280_960_720.webp');"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 style="color: white;">
            {{ homepage && homepage.serviceDetailsHeadline }}
          </h2>
          <span class="subheading" style="color: white;">{{
            homepage && homepage.serviceDetailsSubMsg
          }}</span>
        </div>
      </div>

      <div class="row ftco-animate">
        <div class="carousel1 owl-carousel ftco-owl">
          <div *ngFor="let product of services">
            <div class="item card">
              <div class="blog-entry" style="padding-top: 50px;">

                <div class="icon hover_effect" style="text-align: center;">
                  <!--
                  <img
                    [src]="product.image"
                    style="margin: 0 auto; width: 100px; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    alt=""
                  />
                  -->
                  <a [href]="['/consumer-services', product._id]" [routerLink]="['/consumer-services', product._id]">
                    <img
                      [src]="product.image"
                      style="margin: 0 auto; width: 100px; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                      alt=""
                    />
                  </a>
                </div>



                <div class="text p-4">
                  <h3 style="text-align: center;">
                    <a href="#">{{ product.title }}</a>
                  </h3>
                  <br />
                  <div class="serviceDescrip">{{ product.description }}</div>
                  <br />

                  <!--
                  <ul *ngFor="let feature of product.pricing">
                    <li>
                      <strong style="font-weight: bold;">{{
                        feature.type
                      }}</strong>
                      ... {{ feature.price }}
                    </li>
                  </ul>
                  -->

                  <p class="clearfix">
                    <a href="#" class="float-left read" [routerLink]="['/consumer-services', product._id]">Read more</a>
                    <a href="#" class="float-right meta-chat"
                      ><span class="icon-chat"></span> $</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
