<!-- Start feature Area -->
<section class="feature-area section-gap" id="feature">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">What Makes us Unique?</h1>
          <!--
          <p>Who are in extremely love with eco friendly system.</p>
          -->
          "{{ personalQuote }}" - {{ owner }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-user"></span>
            <h4>
              <a href="#">Personal Touch</a>
            </h4>
          </div>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-license"></span>
            <h4>
              <a href="#">Professional Service</a>
            </h4>
          </div>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-phone"></span>
            <h4>
              <a href="#">Customer Service</a>
            </h4>
          </div>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-rocket"></span>
            <h4>
              <a href="#">Technical Skills</a>
            </h4>
          </div>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-diamond"></span>
            <h4>
              <a href="#">Highly Recomended</a>
            </h4>
          </div>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-bubble"></span>
            <h4>
              <a href="#">Positive Reviews</a>
            </h4>
          </div>
          <p>
            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->