<p class="lead">
  You are deleting the "
  <strong [innerHTML]="request.name"></strong>" request.
</p>

<p class="text-danger">
  Deleting this request will be permanent. Please proceed with caution!
</p>

<div class="form-group">
  <label for="deleteRequest">Confirm request name:</label>
  <input
    type="text"
    id="deleteRequest"
    class="form-control"
    [(ngModel)]="confirmDelete"
  />
</div>

<!-- Delete button -->
<p>
  <button
    class="btn btn-danger"
    (click)="removeRequest()"
    [disabled]="confirmDelete !== request.name || submitting"
  >
    Delete Request
  </button>
  <app-submitting *ngIf="submitting"></app-submitting>
</p>

<!-- Error deleting request -->
<p *ngIf="error" class="alert alert-danger">
  <strong>Oops!</strong> There was an error deleting this request. Please try
  again.
</p>
